 h1{
    font-weight: bold;
    font-family: 'Monoton', cursive;
    text-shadow: 5px 5px 5px grey;
    font-size: 8vw;
    color: darkblue;
    }
    .jumbotron{
        color:white;
        background: none;
    }

    .container{
        background-color: #427F7D;
        height:700px;
        background: url(assets/images/post.png) no-repeat center;
        background-size:70%;
         
    }

    #hidden{
    color: white;
    font-weight: bolder;
}
