#right-panel {
    font-family: 'Josefin Slab', serif;
    line-height: 30px;
    padding-left: 10px;
    }
    #right-panel select, #right-panel input {
    font-size: 15px;
    }
    /*#right-panel select {
    width: 100%;
    }*/
    #right-panel i {
    font-size: 12px;
    }

html, body {
    font-family: 'Josefin Slab', serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../images/paper.png);
    }

.down {
    width: 30vw;
    background: lightblue;
    color: white;
    }

#map {
    height: 300px;
    width: 100%;
    border:1px solid black;
    top:-15px;
    position: relative;
    color:white;
    }

h1{
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    font-weight: bold;
    color: #156C9B;
    margin-bottom: 50px;
}
    .jumbotron{
        font-family: 'Sacramento', cursive;
        height: 366px;
    }
p{
  font-size: 16px;
}
 #directions-panel,#directions-panel-1,#directions-panel-2 {
 padding: 10px;
 position: relative;
}

.profile{
    padding-left: 40vw;
    padding-right: 40vw;
    width: 100vw;
    font-size:25px;
    font-weight: bold;
    color: #156C9B;
}

.post,#post-1{
    height:350px;
    width:400px;
}

#position{
    margin-top: 37px;
    background-color: #156C9B;
    left: 80px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    text-align: center;

}

ol{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

li{
    color: white;
    font-size: 20px;
    list-style-type: none;
}
.btn-primary,.btn{
        width:10vw;
}

h4{
    color: #156C9B;
}

a{
    color: #156C9B;
}

#foot{
    -webkit-text-stroke: 0.01vw #000000;
/*    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;*/
/*     position: absolute;
    bottom: 5%;
    width: 100%;
    color: white;
    font-weight: bolder;*/
}

.bold{
    font-weight: bold;
}

h3{
    font-weight: bold;
    text-decoration: underline;
}

#water{
    text-align: center;
    color: white;
    font-family: 'Josefin Slab', serif;
    font-size:20px;
    font-weight: bold;
}