I 
/*IDONT KNOW WHY YOU CREATED THIS FILE*/

body {
	width: 95vw;
	/*background-color: #3380cc;*/
}
#name {
	background-color: white;
	font-family: 'Lobster Two', cursive;
	color: #3380cc;
}
#title {
	margin: 0vw;
	color: #3380cc;
}
#myjumbotron {
	font-family: 'Lobster Two', cursive;
	color: #3380cc;
}
h1 {
	color: #3380cc;
}
h1:hover {
	color: #3380cc;
}
h1:active {
	color: #3380cc;
}
h1:focus {
	color: #3380cc;
}
.login {
	margin: 0vw;
	text-align: center;
	background-color: white;
	color: #3380cc;
}
#hidden{
	/*color: white;*/
	font-weight: bolder;
	font-family: 'Lobster Two', cursive;
	font-size: 200%;
}
form{
	text-align: center;
	color: white;
}
#submit{
	background: white;
	color: #3380cc;
}
#wind{
background-image: url('http://68.media.tumblr.com/0f5e8a16ece846c831967e21d19a55e1/tumblr_ny70s0qjG91s6jkuco1_400.jpg'); 
background-repeat: no-repeat; background-position: center bottom;

}




.myfooter {
	font-size: 1.5vw;
	color: #3380cc;
}
