.jumbotron{
	background-color: grey;
}


.page {
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/4a/2e/4d/4a2e4d2ab28310cce88d26e90ba6ca03.jpg); 
}



h1{
	font-family: 'Sacramento', cursive;
	color: #3380cc;
	font-stretch: 60%;
}

form{
	background-color: #3380cc;
	color:#3380cc;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

.form-group{
	text-align: center;
	font-size: 150%;
	color: white;
	width: 50%;
	margin: 0 auto;
}

#name{
	color:#3380cc;
    font-size: 300%;
}

#hidden{
	color:#3380cc;
	font-weight: bolder;
	font-family: 'Josefin Slab', serif;
	font-size: 200%;
}

form{
	text-align: center;
	color: white;
}

#submitBtn{
	background: white;
	color: #3380cc;
}
#submitBtn:hover{
	color:red;
}

#submitBtn2{
	background: white;
	color: #3380cc;
}

#submitBtn2:hover{
	color:red;
}

#mod{
	border-color: #1d42c9; 
	font-weight: bolder;
	color:#3380cc; 
	text-align: center;
	margin: auto 0 ;
	font-weight: bolder;

}

#mod:hover{
	background-color: #4d6de6;
	color: white;
}

#mod-1{
	border-color: #1d42c9; 
	font-weight: bolder;
	color:#3380cc;
	text-align: center;
	margin: auto 0 ;
	font-weight: bolder;
}

#mod-1:hover{
	background-color: #4d6de6;
	color: white;
}


.row{
	color: white;
	text-align: center;
	font-weight: bolder;
}

#foot{
	 position: absolute;
    bottom: 5%;
    width: 100%;
    color: white;
    font-weight: bolder;
}

.myfooter{
	color: white;

}

#boom{
	background-color: white;
}

.modal-body{
	background-image: url(https://t4.ftcdn.net/jpg/01/13/18/75/240_F_113187525_1D2sYY5Y27gU4Xin7krhIMDR0bRAyjKq.jpg);
	background-size: cover;
}

#kris{
	color:#3380cc;
	font-size: 250%;
	font-family: 'Josefin Slab', serif;
	font-weight: bolder;

}

label{
	color:#3380cc;
	font-family: 'Josefin Slab', serif;
}

#boom-1{
	background-color: white;
}

.form-control{
	font-family: 'Josefin Slab', serif;
}


